RewriteEngine On
   RewriteCond %{REQUEST_URI} !\.(gif|jpg|png|js|css)$
   RewriteCond %{REQUEST_URI} !(\/setup)
   RewriteRule (.+)\/(.*) index.php?controller=$1&action=$2
#   RewriteRule (.+)/ index.php?controller=$1
